*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #001533;
    background: #fff;
}

.main {
    width: 40%;
    margin: 200px auto;
}

.title {
    text-align: center;
}

h1 {
    color: #001533;
    text-transform: lowercase;
    font-size: 60px;
    margin-bottom: 20px;
}

h1 span {
    color: #0cd977;
}

.number-box {
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.boxes li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 900;   
}

.box {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px #bbb solid;
    border-radius: 20px;
    color: #001533;
}

.info {
    width: 250px;
    background: #f1f1f1;
    border: 1px #bbb solid;
    border-radius: 20px;
    color: #001533;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
    margin-bottom: 10px;

}

.progress {
    width:500px;
    max-width: 100%;
    height: 40px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.timer {
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    color: #d90c32;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;

}

.bar {
    width: 100%;
    height: 100%;
    background: #d90c32;
    transition: width .1s linear;
    border-radius: 10px;
}

.result {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border: 1px #bbb solid;
    border-radius: 20px;
    padding: 50px;
}

.result .btn {
    display: block;
    background: #001533;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
}